<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//google-analytics.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="dns-prefetch" href="//platform.twitter.com">
<link rel="dns-prefetch" href="//disqus.com">
<link rel="dns-prefetch" href="//undefined.disqus.com">
<link rel="dns-prefetch" href="//mediacdn.disqus.com">
<link rel="dns-prefetch" href="//daker-blog.disqus.com">
<link rel="dns-prefetch" href="//referrer.disqus.com">
<link rel="dns-prefetch" href="//juggler.services.disqus.com">
<link rel="dns-prefetch" href="//realtime.services.disqus.com">
<link rel="dns-prefetch" href="//p.twitter.com">
<link rel="dns-prefetch" href="//cdn.api.twitter.com">
<link rel="dns-prefetch" href="//themes.googleusercontent.com"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<!--[if lte IE 9]><meta http-equiv="refresh" content="0;url=/ie.html"><![endif]-->
<meta name="author" content="Lipvun">
<link rel="author" href="https://plus.google.com/101694416703170881163" />
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="author" content="{{ site.author.name }}">
{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
{% endif %}
{% if page.description  %}
  <meta name="description " content="{{ page.description }}">
{% endif %}
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" href="/static/css/style.css">
<link href="/rss.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">