<!DOCTYPE html>
<html lang="zhs" dir="ltr">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# blog: http://ogp.me/ns/blog#">
  {% include header.html %}
</head>
<body itemscope itemtype="http://schema.org/CreativeWork">
  <div class="container">
    <div class="row">
      {% include navside.html %}
      <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 aside3">
        <div id="container">
          <div id="pjax">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  {% include googleanalytics.html %}
</body>
</html>